.page-link:hover {
    z-index: 2;
    color: #fff;
    background-color: #212529;
    border-color: #dee2e6;
}
.page-link {
    position: relative;
    display: block;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
}